body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  color: #124385;
}

h2 {
  font-size: 18.2px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #333333;
}

h3 {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1e344c;
}
a:hover {
  text-decoration: underline;
}

.button {
  background-color: #1e344c;
  padding: 10px;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  display: block;
  width: 90px;
  text-align: center;
}

.logo {
  position: absolute;
  width: 70px;
  left: 10px;
  top: 10px;
  z-index: 50;
}

.menutab {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  display: none;
  z-index: 60;
  background: #1b5ea7;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  font-size: 0px;
}
@media screen and (max-width: 500px) {
  .menutab {
    display: block;
  }
}

.navigation {
  background-color: #124385;
  position: relative;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 30;
}
.navigation ul {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 0 0 100px;
  padding: 0px;
  transition: 0.5s;
}
.navigation ul li {
  display: inline-block;
  text-align: left;
  float: left;
  height: 60px;
  margin: 0;
  background-color: #124385;
  width: auto;
}
@media screen and (max-width: 500px) {
  .navigation ul li {
    display: block;
  }
}
.navigation ul li a {
  color: white;
  text-decoration: none;
  line-height: 60px;
  padding: 22px;
}
.navigation ul li a:hover {
  background-color: #1b5ea7;
}
@media screen and (max-width: 959px) {
  .navigation ul li a {
    font-size: 12.6px;
    padding: 22px 10px;
  }
}
@media screen and (max-width: 500px) {
  .navigation ul {
    width: 200px;
    position: absolute;
    right: 0;
    top: -500px;
    left: initial;
  }
  .navigation ul li {
    float: none;
    height: 40px;
  }
  .navigation ul li a {
    display: block;
    line-height: normal;
    padding: 12px 10px;
  }
}

.navigation.open ul {
  right: 0;
  top: 60px;
  left: initial;
}

.sub-navigation {
  text-align: center;
  background-color: #efefef;
}
.sub-navigation ul {
  display: inline-block;
  height: 30px;
}
.sub-navigation ul li {
  float: left;
  height: 30px;
  width: auto;
  margin: 0;
}
.sub-navigation ul li a {
  text-decoration: none;
  line-height: 30px;
  padding: 7px 15px;
}
.sub-navigation ul li a:hover {
  background-color: #cccccc;
}

.container {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .container {
    width: 90%;
    padding: 15px 5%;
  }
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

aside.images-container {
  width: 300px;
  margin-top: 65px;
  float: right;
}
@media screen and (max-width: 959px) {
  aside.images-container {
    width: 30%;
  }
}
@media screen and (max-width: 400px) {
  aside.images-container {
    width: 100%;
    float: none;
  }
}

.image-container img {
  max-width: 100%;
  margin-bottom: 5px;
}

.img-block {
  margin-bottom: 15px;
}
.img-block p {
  margin: 0;
  font-size: 11.2px;
  color: #444444;
}

article {
  width: 630px;
  float: left;
}
@media screen and (max-width: 959px) {
  article {
    width: 68%;
  }
}
@media screen and (max-width: 400px) {
  article {
    width: 100%;
    float: none;
  }
}

h1.content-title {
  border-bottom: 1px solid #cccccc;
  padding: 5px;
  margin: 20px 0 0 0;
  color: #124385;
}

.content {
  height: 400px;
  overflow: hidden;
  line-height: 1.5;
  padding: 15px;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox .lightboxImage {
  position: absolute;
  left: 30%;
  top: 30%;
  border: 10px solid white;
}

footer {
  width: 100%;
  clear: both;
  float: none;
  overflow: hidden;
  background-color: #efefef;
  margin-top: 50px;
  padding-top: 20px;
}
footer nav {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  footer nav {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 500px) {
  footer nav {
    width: 50%;
  }
}
footer ul li {
  margin: 0;
  display: block;
  padding: 10px 0;
}
